<div>
  <%= form.label :age, style: "display: block" %>
  <%= form.number_field :age %>
</div>
<div>
  <%= form.label :gender, style: "display: block" %>
  <%= form.text_field :gender %>
</div>
<div>
  <%= form.label :current_weight, style: "display: block" %>
  <%= form.number_field :current_weight %>
</div>
